// Colors
$color-black: #000;
$color-white: #fff;
$color-grey: #808080;
$color-light-grey: #bfbfbf;
$color-peach: #ffc593;
$color-rose: #bc7189;
$color-cornflower: #5a77ff;

// Gradients
$gradient-main: linear-gradient(
  28deg,
  $color-peach,
  $color-rose 36%,
  $color-cornflower 100%
);

// Fonts
$font-dm-sans: 'DM Sans', sans-serif;
