@import './global.scss';

.button {
  align-items: center;
  display: flex;
  font-family: $font-dm-sans;
  font-size: 1.2rem;
  font-weight: 400;
  height: 4rem;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.buttonStyle1,
.buttonStyle3 {
  width: 16rem;

  .arrow {
    display: none;
  }
}

.buttonStyle1 {
  background-color: $color-black;
  color: $color-white;
}

.buttonStyle3 {
  background-color: $color-white;
  color: $color-black;
}

.buttonStyle2,
.buttonStyle4 {
  gap: 2rem;
  justify-content: flex-start;
}

.buttonStyle2 {
  color: $color-black;

  .arrow path {
    stroke: $color-black;
  }
}

.buttonStyle4 {
  color: $color-white;

  .arrow path {
    stroke: $color-white;
  }
}
