@import './global';
@import './mixins';

.featureSection {
  display: grid;
  margin: 6rem auto;
  max-width: 52rem;

  @include respond(med) {
    gap: 2rem;
    margin: 9rem auto;
  }

  @include respond(lge) {
    gap: 6rem 0;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 12rem auto;
    max-width: 120rem;
  }
}
