@import './global.scss';

.footer {
  align-items: center;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 54rem;
  padding: 6rem;
}

.logo g {
  fill: $color-white;
}

.socialLinks {
  display: flex;
  gap: 1.4rem;
  justify-content: center;
}

.copyText {
  color: $color-white;
  font-family: $font-dm-sans;
  font-size: 1.5rem;
  font-weight: 400;
}

.icon {
  fill: $color-white;
}
