@import './global.scss';

.links {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.link {
  color: $color-white;
  font-family: $font-dm-sans;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
