@import './global';
@import './mixins';

.storyCards {
  display: grid;
  grid-auto-rows: 50rem;

  @include respond(sml) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond(lge) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
